In [ ]:
# 3. Generate the SQL statements to perform the following computations on
# table data in Python IDLE:

In [ ]:
# a. List the names of all clients having ‘a’ as the second letter in their names.



import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE clientname LIKE '_a%';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))

In [ ]:
# b. List the clients who stay in a city whose first letter is ‘M’.

import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE city LIKE 'm%';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00001', 'John Doe', 'Mumbai', Decimal('400054'), 'Maharashtra', Decimal('15000.00'))
('C00002', 'Amit Kumar', 'Mumbai', Decimal('400057'), 'Maharashtra', Decimal('5000.00'))
('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))
('C00006', 'Deepak Sharma', 'Mangalore', Decimal('560050'), 'Karnataka', Decimal('0.00'))

In [ ]:
# c. List all clients who stay in ‘Bangalore’ or ‘Mangalore’.

import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE city in ('Bangalore', 'Mangalore');")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00004', 'Ashwini Joshi', 'Bangalore', Decimal('560001'), 'Karnataka', Decimal('0.00'))
('C00006', 'Deepak Sharma', 'Mangalore', Decimal('560050'), 'Karnataka', Decimal('0.00'))

In [ ]:
# d. List all clients whose BalDue is greater than value 10000.

import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE  (baldue> 1000);")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00001', 'John Doe', 'Mumbai', Decimal('400054'), 'Maharashtra', Decimal('15000.00'))
('C00002', 'Amit Kumar', 'Mumbai', Decimal('400057'), 'Maharashtra', Decimal('5000.00'))
('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))

In [ ]:
# e. List all information from the Sales_order table for order placed in the month of
# June.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM SALES_ORDER WHERE MONTH(ORDERDATE)= 6;")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('O19001', 'C00001', datetime.date(2012, 6, 2), 'Delhi', 'S00001', 'F', 'N', datetime.date(2020, 7, 2), 'In Process')
('O19002', 'C00002', datetime.date(2025, 6, 2), 'Delhi', 'S00002', 'P', 'N', datetime.date(2027, 7, 2), 'Cancelled')

In [18]:
#f. List the Order No &amp; day on which clients placed their order.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT ORDERNO,DAY(ORDERDATE) FROM SALES_ORDER ;")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('O19001', 2)
('O19002', 2)
('O19003', 2)
('O19008', 2)
('O46865', 18)
('O46866', 2)

In [3]:
# List the names, city and state of clients who are not in the state of ‘Maharashtra’.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT clientname,city, state from CLIENT_MASTER WHERE state != 'Maharashtra';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('Ashwini Joshi', 'Bangalore', 'Karnataka')
('Deepak Sharma', 'Mangalore', 'Karnataka')

In [1]:
# 4. Exercises on Using Having, Group By and Joins in Python IDLE:
# a. Printing the description and total quantity sold for each product.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("""SELECT PRODUCT_MASTER.Discription, sum(SALES_ORDER_DETAILS.QTYORDERED) as total_quantity_sold  
                from PRODUCT_MASTER
                inner join SALES_ORDER_DETAILS
                on SALES_ORDER_DETAILS.PRODUCTNO =PRODUCT_MASTER.PRODUCTNO 
                GROUP BY PRODUCT_MASTER.Discription;""")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('T-Shirts', Decimal('24'))
('Denim Shirts', Decimal('3'))
('Pull Overs', Decimal('5'))
('Trousers', Decimal('4'))
('Shirts', Decimal('4'))
('Cotton Jeans', Decimal('4'))
('Lycra Tops', Decimal('16'))

In [ ]:
# b. Calculating the average quantity sold for each client that has a maximum order
# value of 15000.00.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("""SELECT c.CLIENTNO, c.clientname, 
       AVG(d.QTYORDERED) AS Avg_Qty_Sold
FROM CLIENT_MASTER c
JOIN SALES_ORDER s ON c.CLIENTNO = s.CLIENTNO
JOIN SALES_ORDER_DETAILS d ON s.ORDERNO = d.ORDERNO
GROUP BY c.CLIENTNO, c.clientname
HAVING MAX(d.QTYORDERED * d.PRODUCTRATE) <= 15000;
""")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00002', 'Amit Kumar', Decimal('10.0000'))
('C00004', 'Ashwini Joshi', Decimal('1.0000'))
('C00005', 'Hansel Colaco', Decimal('7.5000'))