In [1]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE clientname LIKE '_a%';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))

In [2]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE city LIKE 'm%';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00001', 'John Doe', 'Mumbai', Decimal('400054'), 'Maharashtra', Decimal('15000.00'))
('C00002', 'Amit Kumar', 'Mumbai', Decimal('400057'), 'Maharashtra', Decimal('5000.00'))
('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))
('C00006', 'Deepak Sharma', 'Mangalore', Decimal('560050'), 'Karnataka', Decimal('0.00'))

In [11]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE city in ('Bangalore', 'Mangalore');")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00004', 'Ashwini Joshi', 'Bangalore', Decimal('560001'), 'Karnataka', Decimal('0.00'))
('C00006', 'Deepak Sharma', 'Mangalore', Decimal('560050'), 'Karnataka', Decimal('0.00'))

In [12]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM CLIENT_MASTER WHERE  (baldue> 1000);")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('C00001', 'John Doe', 'Mumbai', Decimal('400054'), 'Maharashtra', Decimal('15000.00'))
('C00002', 'Amit Kumar', 'Mumbai', Decimal('400057'), 'Maharashtra', Decimal('5000.00'))
('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))

In [ ]:
]

('C00001', 'John Doe', 'Mumbai', Decimal('400054'), 'Maharashtra', Decimal('15000.00'))
('C00002', 'Amit Kumar', 'Mumbai', Decimal('400057'), 'Maharashtra', Decimal('5000.00'))
('C00005', 'Hansel Colaco', 'Mumbai', Decimal('400060'), 'Maharashtra', Decimal('2000.00'))

In [16]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT *  FROM SALES_ORDER WHERE MONTH(ORDERDATE)= 6;")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('O19001', 'C00001', datetime.date(2012, 6, 2), 'Delhi', 'S00001', 'F', 'N', datetime.date(2020, 7, 2), 'In Process')
('O19002', 'C00002', datetime.date(2025, 6, 2), 'Delhi', 'S00002', 'P', 'N', datetime.date(2027, 7, 2), 'Cancelled')

In [18]:
#f. List the Order No &amp; day on which clients placed their order.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT ORDERNO,DAY(ORDERDATE) FROM SALES_ORDER ;")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('O19001', 2)
('O19002', 2)
('O19003', 2)
('O19008', 2)
('O46865', 18)
('O46866', 2)

In [ ]:
# List the names, city and state of clients who are not in the state of ‘Maharashtra’.


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    port = 3306,        # or your MySQL server IP
    user="root",             # your MySQL username
    password=".@.@pP5001707",# your MySQL password
    database="lab"           # your database name
)

# Create a cursor
cursor = conn.cursor()
cursor.execute("SELECT clientname,city, state CLIENT_MASTER WHERE state != 'maharashtra';")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

ProgrammingError: 1054 (42S22): Unknown column 'clientname' in 'field list'